<div id="left-menu">
  <div id="left-menu-inner">
    <div id="user-info">
      <img src="{{ userInfo.imgSource }}" alt="">
      <h3>{{ userInfo.name }}</h3>
    </div>
    <hr />
    <ul>
      <li>
        <a routerLink="messages" routerLinkActive="active" class="btn-def btn-menu">Messages</a>
      </li>
      <li>
        <a routerLink="new-post" routerLinkActive="active" class="btn-def btn-menu">Create a post</a>
      </li>
      <li>
        <a routerLink="old-post" routerLinkActive="active" class="btn-def btn-menu">View old posts</a>
      </li>
      <li>
        <hr />
        <a routerLink="add-accounts" routerLinkActive="active" class="btn-def btn-menu">Add accounts</a>
      </li>
    </ul>
    <div id="menu-bottom">
    <hr />
    <a href="#" class="btn-def btn-logout">Logout</a>
    </div>
  </div>
</div>