#left-menu {
    background-color: #D9DDE3;
    box-shadow: 5px 0 10px rgba(0,0,0,0.2);
    width: 16%;
    min-width: 260px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
@media (max-height: 610px) {
    #left-menu {
        overflow: scroll;
    }
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul hr {
    margin-top: 30px;
}
.btn-menu {
    width: 150px;
    border-radius: 20px;
    margin-top: 30px;
}
.btn-logout {
    background-color: #553535;
    width: 150px;
    margin-top: 10px;
}
#menu-bottom {
    position: absolute;
    bottom: 20px;
    width: 100%;
}
#user-info {
    padding-top: 20px;
}
#user-info img {
    width: 200px;
    border-radius: 100px;
}
@media (max-width: 1400px) {
    #user-info img {
        width: 130px;
    }
    #user-info h3 {
        margin-top: 0;
    }
}
#left-menu-inner {
    height: 100vh;
    min-height: 610px;
    position: relative;
}