<div id="create-post"  #createpost>
  <h1>{{title}}</h1>
  <h3>{{subtitle}}</h3>

  <form (submit)="sendPost(message.value, $event)">
    <textarea placeholder="What's new?" #message ></textarea>
    <div class="buttons-group">
      <a href="#" class="btn-def">Attach</a>
      <button type="submit" class="btn-def">Send</button>
      <div class="clr"></div>
    </div>

    <span>Choose social networks you want to post</span>
    <div id="socials-switch">
      <div class="switch-el" *ngFor="let social of socials">
        <div *ngIf="social.logInStatus" >
          <img src="{{imagePath + social.imgSrc}}" alt="">


          <label class="switch">
            <input type="checkbox" #switchin (change)="socialToggle(social, switchin)">
            <div class="slider round"></div>
          </label>

        </div>
      </div>

    </div>
  </form>
</div>

<div id="no-social" *ngIf="noSocials()">
  {{showPopUp(createpost)}}
  <div id="nosoc-message">
    <h3>You haven't added any social account</h3>
    <a routerLink="/add-accounts" class="btn-def">Go to add account page</a>
  </div>
</div>

<div id="no-social" *ngIf="noSocialsChosen">

  {{showPopUp(createpost)}}
  <div id="nosoc-message">
    <h3>Choose social networks you want to post</h3>
    <button class="btn-def" (click)="noSocialsChosen = false; hidePopUp(createpost)">OK</button>
  </div>

</div>
