<div id="create-post">
  <h1>{{title}}</h1>
  <h3>{{subtitle}}</h3>

  <form action="">
    <textarea name="message" placeholder="What's new?"></textarea>
    <div class="buttons-group">
      <a href="#" class="btn-def">Attach</a>
      <a href="#" class="btn-def">Send</a>
      <div class="clr"></div>
    </div>

    <span>Choose social networks you want to post</span>
    <div id="socials-switch">
      <div class="switch-el">
        <img src="/assets/create-post/fb.png" alt="">

        <label class="switch">
          <input type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>

      <div class="switch-el">
        <img src="/assets/create-post/vk.png" alt="">

        <label class="switch">
          <input type="checkbox">
          <div class="slider round"></div>
        </label>
      </div>
    </div>
  </form>
</div>
